body {
  font-family: 'Franklin Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franklin Gothic', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
  font-weight: bold;
}
